.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: 1;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__heart {

}

.searchResult__information {

}

.searchResult__informationTop {

}

.searchResult__informationTop > p {

}

.searchResult__informationTop > h3 {

}

.searchResult__informationBottom {

}

.searchResult__stars {

}

.searchResult__star {

}

.searchResult__star > p {

}

.searchResult__price {

}

.searchResult__price > h2 {

}

.searchResult__price > p {

}

